Debug/libFFmpeg.a
ffmpeg-snapshot.tar.bz2
ffmpeg
Debug/installer
FFmpeg-Library/Build/Intermediates.noindex/XCBuildData/build.db
FFmpeg-Library/Build/Intermediates.noindex/XCBuildData/build.db
Debug/installer
FFmpeg-Library/Build/Intermediates.noindex/FFmpeg.build/Debug/installer.build/Objects-normal/arm64/installer_dependency_info.dat
FFmpeg-Library/Build/Intermediates.noindex/XCBuildData/build.db
FFmpeg-Library/Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-a4b9b2b18bb14427a833b42152c1f6c3
Debug/installer
FFmpeg-Library/Build/Intermediates.noindex/FFmpeg.build/Debug/installer.build/Objects-normal/arm64/MCXInstaller.o
FFmpeg-Library/Build/Intermediates.noindex/XCBuildData/build.db
FFmpeg-Library/Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-a4b9b2b18bb14427a833b42152c1f6c3
FFmpeg-Library/Build/Intermediates.noindex/FFmpeg.build/Debug/installer.build/Objects-normal/arm64/installer_dependency_info.dat
